#home {
    .home-picture {
        height: 70vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../Assets/Images/3amigos.jpg");
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../Assets/Images/3amigos.jpg");
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;

        h2,
        h1 {

            font-size: 5em;
            font-family: 'Cookie', cursive;
            font-weight: initial;
        }

        h1 {
            font-size: 7em;
        }
    }

    .home-description {
        background-color: white;
        padding: 1em 0;

        h2 {
            text-align: center;
            font-size: 2em;
            color: #f0bb28;
            margin-bottom: 1em;
        }

        p {
            padding: 1em;

            &.visite {
                color: #f0bb28;
                font-size: 1.1em;
            }
        }
    }
}